.grid-container{
    height: 100vh;
    display: grid;
    grid-template-areas: 
     "b c c c c c c c c c c c c c c c c"
     "b a a a a a a a a a a a a a a a a"
     "b a a a a a a a a a a a a a a a a"
     "b a a a a a a a a a a a a a a a a"
     "b a a a a a a a a a a a a a a a a"
     "b a a a a a a a a a a a a a a a a"
     "b a a a a a a a a a a a a a a a a"
     "b a a a a a a a a a a a a a a a a"
     "b a a a a a a a a a a a a a a a a";
}

.cabeza{
    grid-area: c;
    background-color: rgb(183, 183, 183);
    text-align: center;
    font-size: 20px;
}

.barra{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    grid-area: b;
    background-color: rgb(198, 198, 6);
    text-align: start;
    font-size: 20px;
    padding: 20px;
}

.Boton-Barra{
    
    color: black;
    background-color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin: 10px;
}

.cuerpo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: antiquewhite;
    grid-area: a;
}

.pie-lateral{
    
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-size: 15px;
}

