.grid-container{
    height: 100vh;
    display: grid;
    grid-template-areas: 
     "b c c c c c c c c"
     "b a a a a a a a a "
     "b a a a a a a a a"
     "b a a a a a a a a"
     "b a a a a a a a a"
     "b a a a a a a a a"
     "b a a a a a a a a"
     "d e e e e e e e e";
}

.cabeza{
    grid-area: c;
    background-color: rgb(183, 183, 183);
    text-align: center;
    font-size: 20px;
}

.barra{
    color: black;
    grid-area: b;
    background-color: yellow;
    text-align: center;
}

.cuerpo{
    grid-area: a;
}

.pie-lateral{
    grid-area: d;
    background-color: rgb(0, 0, 0);
    color: white;
}

.pie-pricipal{
    grid-area: e;
    background-color: brown;
}